<div class="container">

  <h2>Add a suitcase</h2>

  <%= simple_form_for(@suitcase) do |f| %>
    <%= f.input :name %>

    <%= f.button :submit, "Create", class: "btn btn-primary" %>

  <% end %>

  <%= link_to "< Back", profile_path, class: "btn btn-secondary"  %>
</div>

